@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #130e47; */
}

/* Clases para modo responsive menu */
.bg-colorDashoard {
  background-color: #435d9c; /* Color original */
}

.bg-colorDashoardAlt {
  background-color: #263d69; /* Color alternativo */
}
/* Clases para pantallas medianas y grandes */
@media (min-width: 768px) {
  /* md breakpoint */
  .md\:bg-colorDashoard {
    background-color: #435d9c; /* Color original */
  }

  .md\:bg-colorDashoardAlt {
    background-color: #263d69; /* Color alternativo */
  }
}

/* Clases para pantallas grandes */
@media (min-width: 1024px) {
  .lg\:bg-colorDashoard {
    background-color: #435d9c; /* Color original */
  }

  .lg\:bg-colorDashoardAlt {
    background-color: #263d69; /* Color alternativo */
  }
}

/*slider*/
.slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  top: 0;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  height: 100%;
}

.content {
  position: absolute;
  top: 23rem;
  right: 5rem;
  //left: 5rem;
  //opacity:0;
  width: 50%;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 1s ease 0.5s;
  animation-fill-mode: forwards;
  visibility: hidden;
}
@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}

.content > * {
  color: #fff;
  margin-bottom: 1rem;
}
.current {
  opacity: 1;
  transform: translateX(0);
}

.current .content {
  opacity: 1;
}
.arrow {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
  z-index: 999;
}
.arrow:hover {
  background: #fff;
  color: #777;
}

.next {
  right: 1.5rem;
}

.prev {
  left: 1.5rem;
}
hr {
  height: 2px;
  background: #fff;
  width: 100%;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 17rem;
  }
}
/* fin slider */

/* Modal Button */
.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

/* Modal */
.overlay {
  /* background-color: rgba(0, 0, 0, 0.5); */
  position: fixed;
  width: 100%;
  height: 100%;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
}

img {
  width: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.modalRight {
  width: 100%;
}

.closeBtn {
  position: fixed;
  top: 8px;
  right: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.btnContainer {
  display: flex;
  padding: 1rem 1rem;
}
.btnContainer button {
  width: 100%;
  margin: 0.5rem;
  padding: 16px 0;
  /* border: none; */
  border: 1px solid #411b57;
  /* color: #ffffff; */
}

.btnPrimary {
  background-color: #411b57;
  color: white;
}

.btnOutline {
  /* background-color: #a76a99; */
  background-color: white;
  color: #411b57;
}

.bold {
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}
